* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1d1e2c;
  color: #f8f1ff;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  font-family: "roboto", sans-serif;
}

.outer-container {
  width: 80%;
  margin: 0 auto;
}

.inner-container {
  background-color: #33354d;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.main-heading,
.subtitle {
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main-heading {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.5rem;
}

.img-container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

img {
  max-width: 100%;
}

.lists {
  font-size: 1.2rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  line-height: 30px;
}

a {
  color: #f8f1ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:visited {
  color: #dfd6e7;
}
